/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.header__content,
.card {
  margin: 0 auto;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-text, 410);
  background-image: var(--gradient-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header__content {
  margin-block: 100px;
  padding-inline: var(--padding-inline-header);
  padding-block: var(--padding-block-header);
  inline-size: var(--adaptive-block-width); /* адаптивная ширина блока */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--theme-background);
  border: 2px solid var(--theme-main__color);
}

.header__title, .header__text {
  font-weight: 400;
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  letter-spacing: 0;
}

.header__text {
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
}

.card {
  width: var(--adaptive-block-width);
  border: 2px solid var(--theme-main__color);
  background-color: var(--theme-background);
  margin-bottom: 50px;
}

.card__title {
  font-variation-settings: "wght" var(--weight-title, 715);
  padding: 4px 10px;
  font-size: 18px;
}

.card__image-wrapper {
  position: relative;
  overflow: hidden;
}

.card__image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

@supports (-webkit-text-stroke: 1px var(--theme-background)) or (text-stroke: 1px var(--theme-background)) {
  .card__label {
    -webkit-text-stroke: 1px var(--theme-background);
    text-stroke: 1px var(--theme-background);
  }
}

@supports not ((-webkit-text-stroke: 1px var(--theme-background)) or (text-stroke: 1px var(--theme-background))) {
  .card__label {
    text-shadow:
      -1px -1px 0 var(--theme-background), /* фолбэк, если text-stroke не работает */
      1px -1px 0 var(--theme-background),
      -1px  1px 0 var(--theme-background),
      1px  1px 0 var(--theme-background);
  }
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--font-accent);
  opacity: 0.5;
  mix-blend-mode: hard-light;
}

.card__description {
  padding: 25px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 1.3125rem;
  /* line-height: 21px; */
}

.card__description p:first-child {
  padding-bottom: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__icon-button {
  margin-right: 4px;
  /* display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible; */
  /* margin-right: 12px; Подгонка в макет*/
  /* flex-shrink: 0; */
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--theme-main__color);
}

.card__like-button {
  padding: 12.5px 35px;
  /* padding: 7px 35px; */
  border: 2px solid var(--theme-main__color);
}

.button__text {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: #fff;
}

.save__button {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.card__save-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--theme-background);
  padding: 15px 18px;
  border: 2px solid var(--theme-main__color);
}

@media (width <= 390px) {
  .save__button svg {
    width: 28px;
    height: 28px;
  }

  .card__save-button {
    flex-direction: column;
  }
}

.dialog {
  display: none;
  border: 2px solid var(--theme-main__color);
  background-color: var(--theme-background);
  width: fit-content;
}

.dialog__content {
  padding: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 353px;
}

.dialog__content svg {
  flex-shrink: 0;
}

.dialog .button__text {
  line-height: 150%;
  text-transform: uppercase;
}

.dialog__attention {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-block-end: 30px;
}

.dialog__text {
  max-width: 234px;
}

.dialog__ok-button {
  padding: 6.5px 130.5px;
  border: 2px solid var(--theme-main__color);
  line-height: 90%;
}

@media (width <= 390px) {
  .dialog__content {
    padding: 30px 40px;
    width: 341px;
    max-width: 341px;
  }

  .dialog__ok-button {
    padding: 6.5px 114.5px;
  }
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.button {
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
  color: #fff;
}

.button svg {
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
  color: #fff;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--theme-main__color);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--theme-main__color);
}

/* Фильтры для изображений */
.filter-brightness__contrast__saturate {
  filter: brightness(1.05) contrast(2) saturate(1.1);
}

.filter-invert {
  filter: invert(1);
}

.filter-hue-rotate__brightness__saturate {
  filter: hue-rotate(80deg) brightness(0.95) saturate(1.4);
}

.filter-grayscale__opacity {
  filter: grayscale(1) opacity(0.3);
}

.filter-sepia__saturate__brightness {
  filter: sepia(2) saturate(2) brightness(1.5);
}

.filter-blur__saturate__hue-rotate {
  filter: blur(5px) saturate(1.4) hue-rotate(45deg);
}

.filter-sepia__hue-rotate {
  filter: sepia(1) hue-rotate(-100deg);
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear ;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear 0.3s;
}

.like-icon .sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}


