/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.header__content,
.card {
  margin: 0 auto; /* Временное решение для центрирования страницы */
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-text);
  background-image: var(--gradient-bg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* display: flex;
  flex-direction: column; */
}

.header__content {
  margin-block: 100px;
  padding-inline: var(--padding-inline-header);
  padding-block: var(--padding-block-header);
  width: var(--adaptive-block-width); /* адаптивная ширина блока */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--theme-background);
  border: 2px solid var(--theme-main__color);
}

.header__title, .header__text {
  font-weight: 400; /* Наследует фонт вейт 700, нужен фикс */
}

.header__title {
  font-family: var(--font-accent);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: 1;
  letter-spacing: 0;
}

.header__text {
  font-family: var(--font-accent);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0;
}

.card {
  width: var(--adaptive-block-width);
  border: 2px solid var(--theme-main__color);
  background-color: var(--theme-background);
  margin-bottom: 50px;
}

.card__title {
  font-variation-settings: "wght" var(--weight-title);
  padding: 4px 10px;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  width: 100%;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--font-accent);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px var(--theme-background);
  text-stroke: 1px var(--theme-background);
}

.card__description {
  padding: 25px;
}

.card__description p:first-child {
  padding-bottom: 25px;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  padding-bottom: 25px;
}

.card__icon-button {
  padding-inline-end: 12px;
}

.card__like-button {
  padding: 10.5px 35px;
  border: 2px solid var(--theme-main__color);
}

.button__text {
  font-family: var(--font-accent);
  font-size: 14px;
}

.save__button {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.card__save-button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--theme-background);
  padding: 17px 20px;
  border: 2px solid var(--theme-main__color);
}

@media (width <= 375px) {
  .save__button svg {
    width: 28px;
    height: 28px;
  }

  .card__save-button {
    flex-direction: column;
  }
}

.dialog {
  display: none;
  border: 2px solid var(--theme-main__color);
  background-color: var(--theme-background);
  width: fit-content;
}

.dialog__content {
  padding: 30px;
}

@media (width <= 375px) {
  .dialog__content {
    padding: 30px 40px;
  }
}

.dialog .button__text {
  line-height: 150%;
}

.dialog__attention {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-block-end: 30px;
}

.dialog__ok-button {
  padding: 10.5px 114.5px;
  border: 2px solid var(--theme-main__color);
  
}

dialog[open] {
  display: block;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.75);
}