/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-main: "Inter", sans-serif;
  --font-accent: "Press Start 2P", fantasy;
  --weight-text: 410;
  --weight-title: 715;
  --adaptive-block-width: clamp(375px, calc(260.563px + 30.516vw), 700px);
  --padding-block-header: clamp(120px, 117.18px + 0.75vw, 128px);
  --padding-inline-header: clamp(14px, -23.50px + 10.00vw, 120.5px);
  /* --padding-block-header: clamp(122px, 119.18px + 0.75vw, 130px);
  --padding-inline-header: clamp(16px, -21.50px + 10.00vw, 122.5px); */
  --theme-background: #fff;
  --theme-main__color: #000;
  --animation-fill-color: #FF0000;
  --contour-color: #000;

  --gradient-bg: 
  repeating-linear-gradient(to right, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0, #d3d3d3 2px, transparent 2px, transparent 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  

}